extends layout
block topbar-content
	.right
		.logout
			form(method='post', action='/logout')
				input(type='submit', value='logout')
	.info
		span #{kioskInfo}		
block main-content
	append block scripts
		script(type="text/javascript", src='/javascripts/index.js')
		script(type="text/javascript", src='/javascripts/socket.io.js')
		script(type="text/javascript", src='/javascripts/socket.js')
		script(type="text/javascript", src="/javascripts/jquery.powertip.js")	
		script(type="text/javascript", src="/javascripts/zebra_dialog.js")	
	.threepartcont
		.aleft
			.inner
				h2 accounts
				.listContainer
					ul(id='accountList')
						
		.acenter		
			.inner
				h2 outgoing transfers
				.listContainer
					ul(id='transferList')

				.sec(class='large')
					h2 book transfer
					input(id='senderClientId', type='text', class='largetext', placeholder='sender passport id')
					input(id='recipientClientId', type='text', class='largetext vertmargin', placeholder='recipient passport id')
					div(class='selwrap', class='vertmargin')
						select(id='kioskSelect')
							option(class='dis', selected, disabled="disabled") recipient kiosk

					input(type='submit', class='smallbutton vertmargin right', value='book', onclick='book();')
		.aright
			.inner			
				h2 pending payouts	
				.listContainer
					ul(id='payoutList')

				.sec(class='small')
					h2 record payout
					input(type='text', id='payoutClientId', class='largetext', placeholder='recipient passport id')				
					input(type='submit', class='smallbutton vertmargin right', value='payout', onclick='payout();')
					input(type='submit', class='smallbutton vertmargin right horiz', value='check owing', onclick='showOwing();')				