extends layout
block main-content
	.threepartcont
		.aleft
			.listContainer
				ul
					li
						span Operating account
						span(class='right') 10000 kr
					li
						span Revenue account
						span(class='right') 55000 kr
		.acenter
			.listContainer
				ul
					li
						span Operating account
						span(class='right') 10000 kr
					li
						span Revenue account
						span(class='right') 55000 kr
		.aright
			.listContainer
				ul
					li
						span Operating account
						span(class='right') 10000 kr
					li
						span Revenue account
						span(class='right') 55000 kr
			.threepartinner
				input(type='text', class='largetext', placeholder='kiosk id', autofocus)