!!!5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')		
	body
		.bgoverlay
		.bottomoverlay
		.topbar			
			.content	
				.title
					h1 SendCash
					h2 control panel

			block topbar-content
		.inner-content
			block main-content

		.footer
			span(class='right') by John Granström		