!!!5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')		
		link(rel='stylesheet', href='/stylesheets/jquery.powertip.css')		
		link(rel='stylesheet', href='/stylesheets/zebra_dialog.css')	
		script(src='/javascripts/jquery-1.9.1.js')
		block scripts
	body
		.bgoverlay
		.bottomoverlay
		.topbar			
			.content	
				.title
					h1 SendCash
					h2 control panel

			block topbar-content
		.inner-content
			block main-content

		.footer
			span(class='right') by John Granström		