extends layout
block main-content
	.infobar
		span Please provide your kiosk authentication details to access your transfers
	.login
		input(type='text', class='smalltext', placeholder='kiosk id', autofocus)
		input(type='password', class='smalltext vertmargin', placeholder='password')
		input(type='submit', class='smallbutton vertmargin right', value='login')