extends layout
block main-content
	.infobar
		span Please provide your kiosk authentication details to access your transfers
	.login
		form(method='post', action='/login')
			input(name = 'username', type='text', class='smalltext', placeholder='kiosk id', autofocus)
			input(name = 'password', type='password', class='smalltext vertmargin', placeholder='password')			
			input(type='submit', class='smallbutton vertmargin right', value='login')
		span #{errormsg}